section > .logo {
    color: black;
    font-size: 80px;
    font-family: monospace;
    text-align: center;
    padding: 150px 0 100px 0;
    /*background-color: rgba(0, 0, 0, 0.2);*/
}
section > .search-box {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    transition: all .6s ease;
}
section > .search-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);;

}
.search-box > .key-input {
    float: left;
    padding: 0;
    margin: 0;
    width: 356px;
    height: 36px;
    border-style: solid;
    border-color: rgb(69, 168, 240);
    border-width: 2px;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 20px;
    text-indent: 10px;
}
.search-box > .key-submit {
    float: left;
    width: 90px;
    height: 40px;
    background-color: rgb(69, 168, 240);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all .6s ease;

}
.search-box > .key-submit:hover {
    background-color: rgba(69, 168, 240, 0.8);
}
